.App {
	text-align: center;
}

.App-body {
	background-color: #e4e8ed;
	min-height: 100vh;
}

.App-header {
	color: #345;
	font-size: 40px;
	padding-top: 1%;
	font-family: 'Roboto', sans-serif;
}

.App-header > em {
	font-style: normal;
	color: #9eaab6;
}

.Subject-body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #e4e8ed;
	text-align: left;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 2%;
}

@media (max-width: 1024px) {
	.Subject-container {
		display: inline-block;
		border: 2px lightslategray;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		margin: 2% 0 0 1%;
		width: 100%;
	}

	.Math-container {
		background-color: #f8f9fa;
		padding-left: 1em;
		font-size: 75%;
	}
}

@media (min-width: 1024px) {
	.Subject-container {
		display: inline-block;
		border: 2px lightslategray;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		margin: 2% 0 0 1%;
		flex-grow: 1;
		width: 20%;
	}

	.Math-container {
		background-color: #f8f9fa;
		padding-left: 1em;
		font-size: .70vw;
	}
}

.Subject-container-title {
	text-align: center;
}

.Subject-container td,
th {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}

.Subject-container-desc {
	text-align: center;
}
.Subject-container:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
